body {
    background-color: rgb(233, 229, 221);
    font: 1em sans-serif;
}

h1 {
    text-align: center;
}

.header {
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(29, 58, 58);
}

ul {
    list-style: none;
}

.recipes-list {
    font-family: "Monaco", "Courier New", monospace;
}

.recipes-list li:nth-child(odd) {
    background-color: rgb(225, 211, 185);
}

.recipes-list p {
    color: #272323;
}

img {
    width: 40em;
    height: auto;
}

.recipes-list img {
    width: 30em;
    height: auto;
}