* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(238, 238, 238);
	font-family: "Lucida Console", "Courier New", monospace;
}

.page-header {
	margin: 1em 0;
	text-align: center;
	text-transform: uppercase;
}

.recipes-list {
	list-style: none;
}

.recipe-card {
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	margin-bottom: 2em;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	padding: 1em;
	white-space: nowrap;
	min-width: 800px;
	max-width: 1000px;
	min-height: 350px;
}

.card-image {
	display: inline-block;
	width: 50%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

.card-content {
	display: inline-block;
	width: 50%;
	height: 100%;
	white-space: wrap;
	vertical-align: top;
	padding: 1.5em;
	text-align: end;
}

.card-heading {
	text-align: center;
	margin: 1em 0 2em;
}

.card-description {
	text-align: justify;
	margin-bottom: 3em;
}

.read-more-btn {
	display: inline-block;
	background-color: rgb(205, 205, 205);
	color: #111;
	padding: 0.5em 1em;
	margin: 0 auto;
}